FORMAT: 1A
HOST: http://www.wantoto.com

# DEV台大醫院行動醫療資訊系統 Web Service 0.95
採用 RESTful 架構規劃。所有字串編碼皆為UTF-8。

# 9/22-登入與取得 SessionKey [/sessionKey{?empNo,password}]
## 取得 session key[GET]
+ Parameters
    + empNo (string) ... 使用者帳號
    + password (string) ... 使用者密碼

+ Response 200 (application/json)

        {
            "content" : {
                "empName" : "葉小菜",    //員工姓名[string]
                "sessionKey" : "51ADFDA9C02D4E1E9930D88A26963612" //Session key [string]
            }
        }
    
+ Response 401 (application/json)

        {
            "message" : "帳號密碼錯誤", //錯誤訊息[string]
            "error" : 101 //錯誤代碼 [number]
        }

# Group Web Service 通則
## 通則 [/{?sessionKey,offset,limit}]
### 驗證 Session Key 與資料分頁參數[GET]
所有 Web Service 都須帶入 Session Key 檢查是否過期與是否具有存取權限。

過期則回傳 401；無存取權限則回傳 403。

所有資料回傳時間，皆以時間序號表示，以秒為單位。
(使用 1 January 1970, GMT為基準時間 http://zh.wikipedia.org/wiki/Help:%E6%99%82%E9%96%93%E5%BA%8F%E8%99%9F）
+ Parameters
    + sessionKey (string) ... 使用者登入 Session Key
    + offset = `0` (number, optional) ... 資料偏移數，需與 limit 一起傳入，當content為陣列或collection時使用
    + limit (number, optional) ... 最大回傳筆數，需與 offset 一起傳入，當content為陣列或collection時使用
    
+ Response 200 (application/json)
        
        {
            "content" : [], //回傳內容(可以是單一物件，也可以是陣列)
            "limit" : 50, //最大回傳筆數，當client傳入時需回傳[number] 
            "offset" : 0, //回傳資料偏移數，當client傳入時需回傳[number]
            "total" : 100 //此次Query總筆數，當content為陣列或collection時需回傳[number] 
        }

+ Response 401 (application/json)

        {
            "message" : "Session Key 過期", //錯誤訊息[string]
            "error" :  102 //錯誤代碼 [number]
        }
        
+ Response 403 (application/json)

        {
            "message" : "無存取權限", //錯誤訊息[string]
            "error" :  103 //錯誤代碼 [number]
        }

# Group 病患清單 Patient List
病患清單相關 Web Service
## 12/27-病患清單 [/patients{?chartNo,personID,wardCode,empNo,empNoConsult,empNoStarred,ORCode,ERCode,OPDCode,examRoomCode}]
### 查詢病患清單 [GET]
可傳入病歷號、身分證號、病房、醫師員編、開刀房號、急診科別、門診科別、檢查科室等參數，回傳符合參數條件之病患
+ Parameters
    + chartNo (string, optional) ... 病歷號
    + personID (string, optional) ... 身分證號
    + wardCode (string, optional, `5W3`) ... 病房號
    + empNo (string, optional) ... 醫師員編 (依照醫師員編顯示個人病患)
    + empNoConsult (string, optional) ... 醫師員編 (依照醫師員編顯示照會病患)
    + empNoStarred (string, optional) ... 醫師員編 (依照醫師員編顯示追蹤病患)
    + ORCode (string, optional) ... 開刀房號
    + ERCode (string, optional) ... 急診科別
    + OPDCode (string, optional) ... 門診科別
    + examRoomCode (string, optional) ... 檢查科室
    
+ Response 200 (application/json)

        {
            "content" : [   //病患資訊陣列
                {   //病患資訊
                    "patName" : "王小明",  //病患姓名[string]
                    "patSexCode" : "M",   //性別[string]（男性："M";女性："F"）
                    "patBirthday" : 1406938026,    //出生日期[number(date)]
                    "chartNo" : "12345678",   //病歷號[string]
                    "personID" : "A123456789",  //身分證號[number]
                    "bedInfo" : "5W3 01-01",    //病房病床號(住院與急診)，非住院或急診中則不回傳Key[string]
                    "inDate" : 1406938026, //入院日期(住院或急診檢傷時間)，非住院或在急診則不回傳Key [number(date)]
                    "triageLevels" : "1" //檢傷分級，非急診則不回傳 Key [string]
                    "_emp_VS" : {   //主治醫師(如遇回傳資料為醫師者，變數皆為_emp_開頭)[string]
                        "empNo" : "111281", //醫師員編[string]
                        "name" : "葉小菜" 
                    },
                    "_emp_RS" : {   //住院醫師(如遇回傳資料為醫師者，變數皆為_emp_開頭)[string]
                        "empNo" : "000123", //醫師員編[string]
                        "name" : "蘇小宇" 
                    },
                    "_emp_NP" : {   //護理師[string]
                        "empNo" : "111111", //員編[string]
                        "name" : "謝小穎" 
                    },
                    "status" : "住院中", //狀態[string]
                    "specialTag" : [   //特殊標記[string array] (ex:DNR,...)
                        {
                            "tagCode" : "DNR",
                            "displayName" : "DNR"
                        },
                        ...
                    ],
                    "latestPacsReportDateTime" : 1406938026, //最新影像時間[number(date)]
                    "latestLISReportDateTime" : 1406938026, //最新報告時間[number(date)]
                    "accountIDSE" : "14T05267794", //帳號[String]
                    "patClassCode" : "I" //門住急別[String]
                },
                ...
            ],
            "limit" : 50, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 50 //此次Query總筆數[number] 
        }
        
## 病房號 [/wards]
### 查詢所有病房 [GET]
+ Response 200 (application/json)

        {
            "content" : [   //病房資訊陣列
                {   //病房資訊
                    "hospCode" : "T0",  //醫院代碼[string]
                    "wardCode" : "01A1",   //病房代碼[string]
                    "displayName" : "01A1"    //顯示名稱[string]
                },
                ...
            ],
            "limit" : 50, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 50 //此次Query總筆數[number] 
        }
        
## 開刀房號 [/ORs]
### 查詢開刀房 [GET]
+ Response 200 (application/json)

         {
            "content"[   //手術房資訊陣列
                {   //手術房資訊
                    "hospCode" : "T0",  //醫院代碼[string]
                    "ORCode" : "1",   //開刀房代碼[string]
                    "displayName" : "1"    //顯示名稱[string]
                },
                ...
            ],
            "limit" : 50, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 50 //此次Query總筆數[number] 
        }
        
## 急診科別 [/ERs]
### 查詢急診科別 [GET]
+ Response 200 (application/json)

         {
            "content"[   //急診科別資訊陣列
                {   //急診科別資訊
                    "hospCode" : "T0",  //醫院代碼[string]
                    "ERCode" : "ALL",   //急診科別代碼[string]
                    "displayName" : "不分科"    //顯示名稱[string]
                },
                {   //急診科別資訊
                    "hospCode" : "T0",  //醫院代碼[string]
                    "ERCode" : "MED",   //急診科別代碼[string]
                    "displayName" : "非外傷"    //顯示名稱[string]
                },
                ...
            ],
            "limit" : 50, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 50 //此次Query總筆數[number] 
        }
    
## 門診科別 [/OPDs]
### 查詢今日門診科別 [GET]
+ Response 200 (application/json)

        {
            "content" : [   //門診科別資訊陣列
                {   //門診科別資訊
                    "hospCode" : "T0",  //醫院代碼[string]
                    "OPDCode" : "MED",   //門診科別代碼[string]
                    "displayName" : "內科部",    //顯示名稱[string]
                    "childPath" : "/OPDs/MED"   //下一層內容連結，無下層則不回傳[string]
                },
                ...
            ],
            "limit" : 50, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 50 //此次Query總筆數[number] 
        }

## 門診科別層級 [/OPDs/{OPDCode}]
### 查詢今日門診科別 [GET]
+ Parameters 
   + OPDCode (string, `MED`) ... 門診代碼

+ Request MED (text/plain)

        "OPDCode" : "MED"

+ Response 200 (application/json)
        
        {
            "content" : [   //門診科別資訊陣列
                {
                    "hospCode" : "T0",  //醫院代碼[string]
                    "OPDCode" : "MED_A",   //門診科別代碼[string]
                    "displayName" : "內科部 上午",    //顯示名稱[string]
                    "childPath" : "/OPDs/MED_A"   //下一層內容連結，無下層則不回傳[string]
                },
                {
                    "hospCode" : "T0",  //醫院代碼[string]
                    "OPDCode" : "MED_P",   //門診科別代碼[string]
                    "displayName" : "內科部 下午",    //顯示名稱[string]
                    "childPath" : "/OPDs/MED_P"   //下一層內容連結，無下層則不回傳[string]
                },
                ...
            ],
            "limit" : 50, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 50 //此次Query總筆數[number] 
        }

+ Request MED_A (text/plain)

        "OPDCode" : "MED_A"

+ Response 200 (application/json)
        
        {
            "content" : [   //門診科別資訊陣列
                {   //門診科別資訊
                    "hospCode" : "T0",  //醫院代碼[string]
                    "OPDCode" : "MED_A_01",   //門診科別代碼[string]
                    "displayName" : "01診 王OO 腎臟科",    //顯示名稱[string]
                },
                ...
            ],
            "limit" : 50, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 50 //此次Query總筆數[number] 
        }

## 檢查科室 [/examRooms]
### 查詢檢查科室 [GET]
+ Response 200 (application/json)

        {
            "content" : [   //檢查科別資訊陣列
                {   //檢查科別資訊
                    "hospCode" : "T0",  //醫院代碼[string]
                    "examRoomCode" : "000CPFT0",   //檢查科室代碼[string]
                    "displayName" : "[檢查照會] 肺功能室",    //顯示名稱[string]
                    "childPath" : "/examRooms/000CPFT0"   //下一層內容連結，無下層則不回傳[string]
                },
                ...
            ],
            "limit" : 50, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 50 //此次Query總筆數[number] 
        ]

## 檢查科室層級 [/examRooms/{examRoomCode}]
### 查詢檢查科室 [GET]
+ Parameters 
   + examRoomCode (string, `000CPFT0`) ... 檢查科室代碼
   
+ Request MED (text/plain)

        "examRoomCode" : "000CPFT0"
        
+ Response 200 (application/json)

        {
            "content" : [   //檢查科別資訊陣列
                {
                    "hospCode" : "T0",  //醫院代碼[string]
                    "examRoomCode" : "000CPFT0_A",   //檢查科室代碼[string]
                    "displayName" : "[檢查照會] 肺功能室 上午",    //顯示名稱[string]
                },
                {
                    "hospCode" : "T0",  //醫院代碼[string]
                    "examRoomCode" : "000CPFT0_P",   //檢查科室代碼[string]
                    "displayName" : "[檢查照會] 肺功能室 上午",    //顯示名稱[string]
                },
                {
                    "hospCode" : "T0",  //醫院代碼[string]
                    "examRoomCode" : "000CPFT0_N",   //檢查科室代碼[string]
                    "displayName" : "[檢查照會] 肺功能室 晚上",    //顯示名稱[string]
                }
            ],
            "limit" : 3, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 3 //此次Query總筆數[number] 
        ]

# Group 病歷資料 Medical Record
## 12/1 病患醫療基本資料 [/patients/{chartNo}{?startDate,endDate}]
### 取得病患醫療基本資料 [GET]
+ Parameters 
    + chartNo (string) ... 病歷號
    + startDate = `三日前` (string, optional, `20141108`) ... Query 起始日期，以yyyyMMdd表示 (包含此日期)
    + endDate = `今日` (string, optional, `20141108`) ... Query 結束日期，以yyyyMMdd表示 (包含此日期)
+ Response 200 (application/json)
        
        {
            "content" : {
                "basic" : [
                    {
                        "title" : "Active Problem List",
                        "content" : [
                            {
                                "item" : "Gastrointestinal stromal tumor, gastrointestinal",    //診斷[string]
                                "value" : "238.1"    //診斷代碼[string]
                            },
                            ...
                        ]
                    },
                    {
                        "title" : "過敏",
                        "content" : [
                            {
                                "item" : "Penicillin group",    //過敏[string]
                                "value" : "R"    //過敏類型[string]
                            },
                            ...
                        ],
                    },
                    {
                        "title" : "危急值",
                        "content" : [
                            {
                                "date" : 1406938026,    //報告時間[nubmer(date)]
                                "item" : "RBC",    //危及項目[string]
                                "value" : "1.0" //危急值[string]
                            },
                            ...
                        ],
                    },
                    ...
                ],
                "history" :[    //兩年內就診診斷記錄
                    {
                        "item" : "Gastrointestinal stromal tumor, gastrointestinal",    //診斷[string]
                        "value" : "238.1"    //診斷代碼[string]
                    },
                    ...
                ],
                "TPR" : [
                    {   //每次TPR紀錄
                        "date" : 1406938026,    //紀錄時間[nubmer(date)]
                        "breathing" : 20,   //呼吸[number,optional]
                        "temperature" : 37.5,   //體溫[number,optional]
                        "heartRate" : 59,    //心跳[number,optional]
                        "bloodPressure" : { //血壓
                            "systolic" : 116,    //收縮壓[number,optional]
                            "diastolic" : 69    //舒張壓[number,optional]
                        }    
                    },
                    ...
                ],
                "labReport" : [
                    {   //檢驗報告
                        "reportDate" : 1406938026,    //最後報告時間[nubmer(date)]
                        "content" : [ 
                            {   //依據欄位填入資料，無資料則不回傳
                                "item" : "RBC",
                                "labValue" : {   //若為檢驗數值則回傳object
                                    "value" :"2.66",    //檢驗值[string]
                                    "status" : "normal"    //檢驗值狀態。ex:"normal"(正常)、"abnormal"(異常)、"low"(過低)、"high"(過高)、"unknow"(無法判斷)[string]
                                }
                            },
                            ...
                        ]
                    },
                    ...
                ],
                "otherReport" : [
                    {   
                        "date" : 1406938026,    //報告時間[nubmer(date)]
                        "item" : "Chest PA View (Standing)",    //報告項目[string]
                        "type" : "影核醫"   //報告種類[string]
                        "report" : {    //如有報告則回傳
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/report/{reportID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        }
                    },
                    ...
                ],
                "progressNote" : [
                    {   
                        "date" : 1406938026,    //時間[nubmer(date)]
                        "item" : "Admission Note",    //項目[string]
                        "report" : {    //如有報告則回傳
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/report/{reportID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        }
                    },
                    ...
                ],
                "OPNote" : [
                    {   
                        "date" : 1406938026,    //時間[nubmer(date)]
                        "item" : "Subxiphoid drainage with sternal",    //項目[string]
                        "report" : {    //如有報告則回傳
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/report/{reportID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        }
                    },
                    ...
                ],
                "order" : [    //抓本日 active 就好
                    {   
                        "startDate" : 1406938026,
                        "endDate" : 1406938026,
                        "type" : "執行中"  //醫囑進度
                        "item" : "Chest PA View (Standing)",    //醫令內容[string]
                        "bgColor" : "FFFFFF", //如需調整背景顏色則回傳16進位色碼[string,optional] 
                        "report" : {    //如有報告則回傳
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/report/{reportID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        }
                    },
                    ...
                ],
                "medication" : [    //抓本日 active 就好
                    {   
                        "startDate" : 1406938026,
                        "endDate" : 1406938026,
                        "item" : "Magnesium Oxide",    //組合名[string]
                    },
                    ...
                ],
                "consult" : [    //會診資訊
                    {
                        "date" : 1406938026,   //會診時間[string]
                        "item" : "xxx 會診資訊",    //會診資訊[string]
                        "type" : "葉XX醫師" //會診醫師[string]
                        "report" : {    //會診單
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/report/{reportID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        }
                    }
                ],
            } 
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026, Query 結束日期，以時間序號表示 (包含此日期)
        }

## 10/8-病歷資料 Web Service 通則 [/patients/{chartNo}/{dataPath}{?startDate,endDate}]
### 取得病歷資料 [GET]
+ Parameters
    + chartNo (string) ... 病歷號
    + dataPath (string) ... 各項病歷資料路徑
    + startDate = `入院日` (string, optional, `1406938026`) ... Query 起始日期，以時間序號表示 (包含此日期)
    + endDate = `今日` (string, optional, `1406938026`) ... Query 結束日期，以時間序號表示 (包含此日期)
+ Response 200 (application/json)
        
        {
            "content" : [], //回傳內容(可以是單一物件，也可以是陣列)
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026, Query 結束日期，以時間序號表示 (包含此日期)
            "limit" : 50, //最大回傳筆數，當client傳入與content為陣列或collection時需回傳[number] 
            "offset" : 0, //回傳資料偏移數，當client傳入與content為陣列或collection時需回傳[number]
            "total" : 100 //此次Query總筆數，當content為陣列或collection時需回傳[number] 
        }

## 9/22-檢驗報告-清單報告 [/patients/{chartNo}/labReport/report]
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : {
                "data" : [
                    {   //檢驗報告
                        "specimen" : "BLOOD", //檢體[string]
                        "lab" : "血液檢驗組血液室HE",    //檢驗單位[string]
                        "requestNo" : "4025928",    //檢驗單號[string]
                        "inspectionDate" : 1406938026,   //採檢時間[number(date)]
                        "recordDate" : 1406938026,    //登入時間[number(date)]
                        "reportDate" : 1406938026,   //最後報告時間[number(date)]                        
                        "filterCode" : [    //篩選代碼
                            "HE"
                        ],
                        "report" : {    //有額外報告時回傳
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/labReport/{labReportID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        },
                        "table" : {
                            "field" : [    //欄位資訊
                                {
                                    "fieldCode" : "item",  //欄位代碼[string]
                                    "displayName" : "檢驗項目" //欄位顯示名稱[string]
                                },
                                {
                                    "fieldCode" : "labValue",  
                                    "displayName" : "檢驗值"
                                },
                                {
                                    "fieldCode" : "unit",  
                                    "displayName" : "單位"
                                },
                                {
                                    "fieldCode" : "reference",  
                                    "displayName" : "參考值"
                                },
                                {
                                    "fieldCode" : "critical",  
                                    "displayName" : "危急值"
                                },
                                {
                                    "fieldCode" : "note",  
                                    "displayName" : "說明"
                                },
                                {
                                    "fieldCode" : "specialOrder",  
                                    "displayName" : "特別醫囑"
                                }
                            ],
                            "data" : [
                                {
                                    "content" : {   //依據欄位填入資料，無資料則不回傳
                                        "item" : "RBC",
                                        "labValue" : {   //若為檢驗數值則回傳object
                                            "value" :"2.66",    //檢驗值[string]
                                            "status" : "normal"    //檢驗值狀態。ex:"normal"(正常)、"abnormal"(異常)、"low"(過低)、"high"(過高)、"unknow"(無法判斷)[string]
                                        },
                                        "unit" : "M/ul",
                                        "reference" : "4 ~ 5.52",
                                        "critical" : "< 2.0 & > 7.0", 
                                        "note" : "", 
                                        "specialOrder" : ""                         
                                    }
                                },
                                ...
                            ],
                        }
                    },
                    ...
                ],
                "filter" : [
                    {
                        "filterCode" : "HE",
                        "displayName" : "血液檢驗組血液室HE"
                    },
                    {
                        "filterCode" : "BC",
                        "displayName" : "生化檢驗組BC"
                    },
                    ...
                ],
                "limit" : 50, //最大回傳筆數，當client傳入與content為陣列或collection時需回傳[number] 
                "offset" : 0, //回傳資料偏移數，當client傳入與content為陣列或collection時需回傳傳[number]
                "total" : 100 //此次Query總筆數，當content為陣列或collection時需回傳[number] 
            }, 
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026, Query 結束日期，以時間序號表示 (包含此日期)
        }

## 12/1-檢驗報告-累積報告 [/patients/{chartNo}/labReport/accmulatedReport]
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : {
                "data" : [
                    {   
                        "item" : "CBC+PLT BLOOD", //檢驗項目[string]
                        "lab" : "血液檢驗組血液室HE",    //檢驗單位[string]
                        "filterCode" : [    //篩選代碼
                            "HE"
                        ],
                        "table" : {
                            "field" : [    //欄位資訊
                                {
                                    "fieldCode" : "inspectionDate",  //欄位代碼[string]
                                    "displayName" : "採檢時間", //欄位顯示名稱[string]
                                    "dateFormat" : "yyyy-MM-dd HH:mm"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                                },
                                {
                                    "fieldCode" : "WBC",  
                                    "displayName" : "WBC(k/uL)"
                                    "labInfo" : {   //檢驗項目相關資訊[string]
                                        "reference" : "3.54 ~ 9.06" //參考值[string]
                                    }
                                    
                                },
                                ...
                            ],
                            "data" : [
                                {
                                    "content" : {   //依據欄位填入資料，無資料則不回傳
                                        "inspectionDate" : 1406938026,   //採檢時間[number(date)]    
                                        "date" : 1406938026,    //報告時間(不顯示，但須保留作為篩選用)[number(date)]
                                        "WBC" : {   //若為檢驗數值則回傳object
                                            "value" :"4.05",    //檢驗值[string]
                                            "status" : "normal",    //檢驗值狀態。ex:"normal"(正常)、"abnormal"(異常)、"low"(過低)、"high"(過高)、"unknow"(無法判斷)[string]
                                            "note" : "123", //檢醫部註記，無資料則不回傳[sitrng]
                                            "reportDate" : 1406938026  //報告時間[number(date)]
                                        },
                                    },
                                },
                                ...
                            ],
                        }
                    },
                    ...
                ],
                "filter" : [
                    {
                        "filterCode" : "HE",
                        "displayName" : "血液檢驗組血液室HE"
                    },
                    {
                        "filterCode" : "BC",
                        "displayName" : "生化檢驗組BC"
                    },
                    ...
                ],
            }, 
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026, Query 結束日期，以時間序號表示 (包含此日期)
        }

## 12/1-檢驗報告-綠單報告 [/patients/{chartNo}/labReport/greenReport]
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : {
                "data" : [
                    {   
                        "item" : "Complete Blood Cell Count BLOOD", //綠單項目[string]
                        "filterCode" : [    //篩選代碼
                            "CBC"
                        ],
                        "table" : {
                            "field" : [    //欄位資訊
                                {
                                    "fieldCode" : "inspectionDate",  //欄位代碼[string]
                                    "displayName" : "採檢時間", //欄位顯示名稱[string]
                                    "dateFormat" : "yyyy-MM-dd hh:mm"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                                },
                                {
                                    "fieldCode" : "WBC",  
                                    "displayName" : "WBC(k/uL)"
                                    "labInfo" : {   //檢驗項目相關資訊[string]
                                        "reference" : "3.54 ~ 9.06" //參考值[string]
                                    }
                                    
                                },
                                ...
                            ],
                            "data" : [
                                {
                                    "content" : {   //依據欄位填入資料，無資料則不回傳
                                        "inspectionDate" : 1406938026,   //採檢時間[number(date)]    
                                        "date" : 1406938026,    //報告時間(不顯示，但須保留作為篩選用)[number(date)]
                                        "WBC" : {   //若為檢驗數值則回傳object
                                            "value" :"4.05",    //檢驗值[string]
                                            "status" : "normal",    //檢驗值狀態。ex:"normal"(正常)、"abnormal"(異常)、"low"(過低)、"high"(過高)、"unknow"(無法判斷)[string]
                                            "note" : "123", //檢醫部註記，無資料則不回傳[sitrng]
                                            "reportDate" : 1406938026  //報告時間[number(date)]
                                        },
                                    },
                                },
                                ...
                            ],
                        }
                    },
                    ...
                ],
                "filter" : [
                    {
                        "filterCode" : "CBC",
                        "displayName" : "CBC"
                    },
                    {
                        "filterCode" : "biochemistry",
                        "displayName" : "Biochemistry"
                    },
                    ...
                ],
            }, 
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026, Query 結束日期，以時間序號表示 (包含此日期)
        }

## 12/1-報告系統 [/patients/{chartNo}/otherReport]
檢驗報告之外的其他報告
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : {
                "field" : [    //欄位資訊
                    {
                        "fieldCode" : "item",  
                        "displayName" : "檢查項目"
                    },
                    {
                        "fieldCode" : "examDate",  //欄位代碼[string]
                        "displayName" : "檢查時間", //欄位顯示名稱[string]
                        "dateFormat" : "yyyy-MM-dd hh:mm"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                    },
                    {
                        "fieldCode" : "date",  //欄位代碼[string]
                        "displayName" : "報告時間", //欄位顯示名稱[string]
                        "dateFormat" : "yyyy-MM-dd hh:mm"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                    },
                    {
                        "fieldCode" : "type",  
                        "displayName" : "報告種類"
                    }
                ],
                "data" : [
                    {
                        "content" : {   //依據欄位填入資料，無資料則不回傳
                            "examDate" : 1406938026,
                            "date" : 1406938026,
                            "item" : "Chest PA View (Standing)",
                            "type" : "影核醫"
                        },
                        "filterCode" : [    //篩選類別
                            "image"
                        ],
                        "report" : {    //如有報告則回傳
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/imageReport/{imageReportID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        }
                    },
                    ...
                ],
                "filter" : [
                    {
                        "filterCode" : "image",
                        "displayName" : "影核醫"
                    },
                    {
                        "filterCode" : "ECG",
                        "displayName" : "心電圖"
                    },
                    ...
                ],
                "limit" : 50, //最大回傳筆數傳[number] 
                "offset" : 0, //回傳資料偏移數[number]
                "total" : 100 //此次Query總筆數[number]
            },
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026 Query 結束日期，以時間序號表示 (包含此日期)
        }

## 10/28-影像報告 [/patients/{chartNo}/ImageReport]
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : [
                {
                    "AccessionNumber" : "T0146067566".  //影像報告序號[string]
                    "report" : {    //如有報告則回傳
                        "reportType" : "HTML",  //報告型態，HTML或PDF
                        "reportPath" : "/imageReport/{imageReportID}",   //報告路徑
                        "encoding" : "utf-16",   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                        "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                    }
                },
                ...
            ],
            "limit" : 50, //最大回傳筆數傳[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 100, //此次Query總筆數[number]
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026 Query 結束日期，以時間序號表示 (包含此日期)
        }


## 12/27 -生命徵象 [/patients/{chartNo}/TPR]
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : {
                "TPR" : [   //TPR 圖表資料
                    {   //每次TPR紀錄
                        "date" : 1406938026,    //紀錄時間[nubmer(date)]
                        "breathing" : 20,   //呼吸[number,optional]
                        "temperature" : 37.5,   //體溫[number,optional]
                        "heartRate" : 59,    //心跳[number,optional]
                        "bloodPressure" : { //血壓
                            "systolic" : 116,    //收縮壓[number,optional]
                            "diastolic" : 69    //舒張壓[number,optional]
                        }    
                    },
                    ...
                ],
                "IO" : [    //IO資料
                    {   //欄位資料
                        "fieldName" : "血壓", //欄位名稱[string]
                        "data" : [
                            {
                                "date" : 1406938026,    //資料時間[number(date)]
                                "data" : "125/75"   //資料內容[string]
                            },
                            ...
                        ]
                    },
                    {   //欄位資料
                        "fieldName" : "身高", //欄位名稱[string]
                        "unit" : "cm",  //單位，有單位時回傳[string,optional]
                        "range" : { //繪圖範圍，可以圖形表示時回傳 [optional]
                            "max" : "210", 
                            "min" : "100"
                        },
                        "data" : [
                            {
                                "date" : 1406938026,    //資料時間[number(date)]
                                "data" : "173"   //資料內容[string]
                            },
                            {
                                "date" : 1406948026,    //資料時間[number(date)]
                                "data" : "173.5"   //資料內容[string]
                            },
                            ...
                        ]
                    },
                    {   //欄位資料
                        "fieldName" : "血糖", //欄位名稱[string]
                        "unit" : "ug/ml",  //單位，有單位時回傳[string,optional]
                        "range" : { //繪圖範圍，可以圖形表示時回傳 [optional]
                            "max" : "210", 
                            "min" : "100"
                        },
                        "data" : [
                            {
                                "date" : 1406938026,    //資料時間[number(date)]
                                "data" : "100",   //資料內容[string]
                                "note" : "STAT" //測量狀態[string]
                            },
                            ...
                        ]
                    },
                ],
            "medication" : {
                "content" : [
                    {
                        "drugName" : "Magnesium Oxide", //學名[string]
                        "itemName" : "MgO", //品名[string]
                        "combineName" : "Magnesium Oxide 250 mg/tab", //組合名[string]
                        "itemUnit" : "250 mg/tab", //劑量單位[string]
                        "filterCode" : [ //篩選代碼[string]
                            "antibiotic"
                        ],
                        "medicationID" : "MET4FB18", //藥品八碼[string]
                        "dose" : "2 tab", //劑量[string]
                        "approach" : "PO", //途徑[string]
                        "frequency" : "BID", //頻次[string]
                        "orderDate" : 1406938026, //開立日期[number(date)]
                        "startDate" : 1406938026, //用藥開始日期[number(date)]
                        "endDate" : 1406938026, //用藥結束日期[number(date)]
                        "_emp_order" : { //開立醫師
                            "empNo" : "23454353",
                            "name" : "葉小菜"
                        },
                        "note" : "自費 特殊醫囑: For scrotal ulcers", //備註[string]
                        "category" : "prolonged", //處方類別。ex:"prolonged"(長期)、"stat"(臨時)、"cancel"(取消)、"own"(自備藥)[string]
                        "drugInfoPath" : "/medication/{medicationID}",  //藥物資訊連結[string]
                        "drugRecord" : [    //Query期間所有給藥記錄
                            {
                                "date" : 1406938026, //日期[number(date)]
                                "status" : "taken", //用藥狀態。ex:"taken"(已給藥)、"pending"(未處理)、"failure"(未給藥)[string]
                                "note" : "", //護理給藥備註[string]
                                "executor" : "張小珍 護理師" //執行人員[string]
                            },
                        ...
                        ]
                    },
                 ...
                ],

                "filter" : [
                    {
                        "filterCode" : "antibiotic",
                        "displayName" : "抗生素"
                    },
                    {
                        "filterCode" : "Corticosteroids",
                        "displayName" : "類固醇"
            
                    },
                ...
                ],
            }

            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026 Query 結束日期，以時間序號表示 (包含此日期)
        }

## 9/22-非處方醫囑 [/patients/{chartNo}/order]
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : {
                "field" : [    //欄位資訊
                    {
                        "fieldCode" : "startDate",  //欄位代碼[string]
                        "displayName" : "開始時間", //欄位顯示名稱[string]
                        "dateFormat" : "yyyy-MM-dd"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                    },
                    {
                        "fieldCode" : "endDate",  //欄位代碼[string]
                        "displayName" : "結束時間", //欄位顯示名稱[string]
                        "dateFormat" : "yyyy-MM-dd"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                    },
                    {
                        "fieldCode" : "order",  
                        "displayName" : "醫令內容",
                        "textAlignment" : "left", 欄位內容對齊方式  //ex:"left"(向左對齊)、"center"(置中對齊)、"right"(向右對齊)[string,optional]
                    },
                    {
                        "fieldCode" : "status",  
                        "displayName" : "狀態"
                    }
                ],
                "data" : [
                    {
                        "content" : {   //依據欄位填入資料，無資料則不回傳
                            "order" : "Chest PA View (Standing)",
                            "startDate" : 1406938026,
                            "endDate" : 1406938026,
                            "_emp_doctor" : { 
                                "empNo" : "23454353",
                                "name" : "葉小菜"
                            },
                            "status" : "已完成",
                            "orderDate" : 1406938026
                        },
                        "filterCode" : [    //篩選類別
                            "image"
                        ],
                        "report" : {    //如有報告則回傳
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/ImageReport/{ImageReportID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        },
                        "bgColor" : "FFFFFF" //如需調整此列背景顏色則回傳16進位色碼[string,optional] 
                    },
                    ...
                ],
                "filter" : [
                    {
                        "filterCode" : "order",
                        "displayName" : "醫囑"
                    },
                    {
                        "filterCode" : "medication",
                        "displayName" : "處方"
                    },
                    {
                        "filterCode" : "lab",
                        "displayName" : "檢驗"
                    },
                    {
                        "filterCode" : "image",
                        "displayName" : "影醫"
                    },
                    ...
                ],
                "limit" : 50, //最大回傳筆數傳[number] 
                "offset" : 0, //回傳資料偏移數[number]
                "total" : 100 //此次Query總筆數[number]
            },
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026 Query 結束日期，以時間序號表示 (包含此日期)
        }

## 12/1-處方醫囑 [/patients/{chartNo}/medication]
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : [
                {
                    "drugName" : "Magnesium Oxide", //學名[string]
                    "itemName" : "MgO", //品名[string]
                    "combineName" : "Magnesium Oxide 250 mg/tab", //組合名[string]
                    "itemUnit" : "250 mg/tab", //劑量單位[string]
                    "filterCode" : [ //篩選代碼[string]
                        "antibiotic"
                    ],
                    "medicationID" : "MET4FB18", //藥品八碼[string]
                    "dose" : "2 tab", //劑量[string]
                    "approach" : "PO", //途徑[string]
                    "frequency" : "BID", //頻次[string]
                    "orderDate" : 1406938026, //開立日期[number(date)]
                    "startDate" : 1406938026, //用藥開始日期[number(date)]
                    "endDate" : 1406938026, //用藥結束日期[number(date)]
                    "_emp_order" : { //開立醫師
                        "empNo" : "23454353",
                        "name" : "葉小菜"
                    },
                    "note" : "自費 特殊醫囑: For scrotal ulcers", //備註[string]
                    "category" : "prolonged", //處方類別。ex:"prolonged"(長期)、"stat"(臨時)、"cancel"(取消)、"own"(自備藥)[string]
                    "drugInfoPath" : "/medication/{medicationID}",  //藥物資訊連結[string]
                    "drugRecord" : [    //Query期間所有給藥記錄
                        {
                            "date" : 1406938026, //日期[number(date)]
                            "status" : "taken", //用藥狀態。ex:"taken"(已給藥)、"pending"(未處理)、"failure"(未給藥)[string]
                            "note" : "", //護理給藥備註[string]
                            "executor" : "張小珍 護理師" //執行人員[string]
                        },
                        ...
                    ]
                },
                ...
            ],

            "filter" : [
                {
                    "filterCode" : "antibiotic",
                    "displayName" : "抗生素"
                },
                {
                    "filterCode" : "acesodyne",
                    "displayName" : "止痛藥"
           
                },
                ...
            ],
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026, Query 結束日期，以時間序號表示 (包含此日期)
            "limit" : 50, //最大回傳筆數，當client傳入時需回傳[number] 
            "offset" : 0, //回傳資料偏移數，當client傳入時需回傳[number]
            "total" : 100 //此次Query總筆數，當content為陣列或collection時需回傳[number] 
        }

## 9/15-藥物資訊 [/medication/{medicationID}]
### 取得藥物資訊 [GET]

+ Response 200 (application/json)
        
        {
            "content" : {
                "drugName" : "Mecobalamin", //學名[string]
                "itemName" : "Methycobal Capsule 500 mcg / cap", //品名[string]
                "chineseName" : "彌可保膠囊", //中文名[string]
                "aliases" : "", //別名[string]
                "formulations" : "硬膠囊", //劑型[string]
                "medicationID" : "MET4FB18" //藥品八碼[string]
                "pharmaClassification" : "VIII. Hematological Agents\r1. Agents Used to Treat Deficiency Anemia" //藥理分類，如需換行換行符號為"\r"[string]
                "usualDose" : "Peripheral neuropathies:\rPO, 500 mcg tid.", //常用劑量[string]
                "indications" : "末梢性神經障礙", //適應症[string]
                "maxDose" : "BID", // 最大劑量[string]
                "PregnantClassification" : "", //懷孕分級[string]
                "Contraindications" : "", //禁忌[string]
                "role" : "補充維他命Ｂ１２", //作用[string]
                "drugSafetyAlert" : "", //藥物安全警訊[string]
                "sideEffects" : "可能引起胃部不適、過敏反應等。", //副作用[string]
                "precautions" : "", //注意事項[string]
                "storage" : "≦ 30 ℃ & protect from light.", //儲存方法[string]
                "DrugDealers" : "衛采製藥股份有限公司", //藥商[string]
                "appearanceImages" : [ //藥品外觀圖片連結
                    "https://dept.ntuh.gov.tw/phar/DrugImage/New/s/MET4FB18-A.JPG",
                    "https://dept.ntuh.gov.tw/phar/DrugImage/New/s/MET4FB18-B.JPG"
                ]
            }
        }


## 9/22-手術紀錄 [/patients/{chartNo}/OPNote]
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : {
                "field" : [    //欄位資訊
                    {
                        "fieldCode" : "OPType",  
                        "displayName" : "術式"
                    },
                    {
                        "fieldCode" : "dept",  
                        "displayName" : "科部"
                    },
                    {
                        "fieldCode" : "date",  //欄位代碼[string]
                        "displayName" : "手術開始時間", //欄位顯示名稱[string]
                        "dateFormat" : "yyyy-MM-dd hh:mm"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                    },
                    {
                        "fieldCode" : "_emp_doctor",  
                        "displayName" : "醫師"
                    },
                    {
                        "fieldCode" : "status",  
                        "displayName" : "狀態"
                    }
                ],
                "data" : [
                    {
                        "content" : {   //依據欄位填入資料，無資料則不回傳
                            "OPType" : "1. Subxiphoid drainage with sternal... ",
                            "dept" : "外科部",
                            "date" : 1406938026,
                            "_emp_doctor" : {
                                "empNo" : "123342"
                                "name" : "葉小菜"
                            },
                            "status" : "V"
                        },
                        "report" : {    //如有報告則回傳
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/OPNote/{OPNoteID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        }
                    },
                    ...
                ],
                "limit" : 50, //最大回傳筆數傳[number] 
                "offset" : 0, //回傳資料偏移數[number]
                "total" : 100 //此次Query總筆數[number]
            }
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026, Query 結束日期，以時間序號表示 (包含此日期)
        }

## 11/26-病程紀錄 [/patients/{chartNo}/progressNote]
### 取得病歷資料 [GET]

+ Response 200 (application/json)
        
        {
            "content" : {
                "field" : [    //欄位資訊
                    {
                        "fieldCode" : "type",  
                        "displayName" : "類別"
                    },
                    {
                        "fieldCode" : "status",  
                        "displayName" : "狀態"
                    }
                ],
                "data" : [
                    {
                        "content" : {   //依據欄位填入資料，無資料則不回傳
                            "date" : 1406938026,   //預載用需保留
                            "status" : "V",
                            "type" : "11-01 Admission Note"
                        },
                        "filterCode" : [    //篩選類別
                            "ADM"
                        ],
                        "report" : {    //如有報告則回傳
                            "reportType" : "HTML",  //報告型態，HTML或PDF
                            "reportPath" : "/progressNote/{progressNoteID}"   //報告路徑
                            "encoding" : "utf-16"   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                        }
                    },
                    ...
                ],
                "filter" : [
                    {
                        "filterCode" : "ADM",
                        "displayName" : "Admission Note"
                    },
                    {
                        "filterCode" : "PRO",
                        "displayName" : "Progress Note"
                    },
                    ...
                ],
                "limit" : 50, //最大回傳筆數傳[number] 
                "offset" : 0, //回傳資料偏移數[number]
                "total" : 100 //此次Query總筆數[number]
            }
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026 Query 結束日期，以時間序號表示 (包含此日期)
        }

## 9/15-電子病歷 [/patients/{chartNo}/EMR]
### 取得病歷資料 [GET]

+ Response 200 (application/json)

        {
            "content" : {
                "field" : [    //欄位資訊
                    {
                        "fieldCode" : "item",  
                        "displayName" : "項目"
                    }
                ],
                "data" : [
                    {
                        "content" : {   //依據欄位填入資料，無資料則不回傳
                            "item" : "置頂",
                        },
                        "children" : [  //有次階層時回傳
                            {
                                "content" : {   //依據欄位填入資料，無資料則不回傳
                                    "item" : "病歷首頁及摘要",
                                },
                                "report" : {    //如有報告則回傳
                                    "reportType" : "HTML",  //報告型態，HTML或PDF
                                    "reportPath" : "/EMRReport/{EMRReportID}",   //報告路徑
                                    "encoding" : "utf-16",   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                                    "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                                },
                                "children" : [
                                    {
                                        "content" : {   //依據欄位填入資料，無資料則不回傳
                                            "item" : "PDF病歷首頁及摘要",
                                        },
                                        "report" : {    //如有報告則回傳
                                            "reportType" : "PDF",  //報告型態，HTML或PDF
                                            "reportPath" : "/EMRReport/{EMRReportID}",   //報告路徑
                                            "encoding" : "utf-16",   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                                        }
                                    },
                                    ...
                                ]
                            },
                            ...
                        ]
                    },
                    {
                        "content" : {   //依據欄位填入資料，無資料則不回傳
                            "item" : "住院",
                        },
                        "children" : [
                            {
                                "content" : {   //依據欄位填入資料，無資料則不回傳
                                    "item" : "2014/06/25 外科部",
                                },
                                "children" : [
                                    {
                                        "content" : {   //依據欄位填入資料，無資料則不回傳
                                            "item" : "出院病摘",
                                        },
                                        "report" : {    //如有報告則回傳
                                            "reportType" : "HTML",  //報告型態，HTML或PDF
                                            "reportPath" : "/EMRReport/{EMRReportID}",   //報告路徑
                                            "encoding" : "utf-16",   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                                            "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                                        }
                                        "children" : [
                                            {
                                                "content" : {   //依據欄位填入資料，無資料則不回傳
                                                    "item" : "2014/06/25 葉小菜主治",
                                                },
                                                "report" : {    //如有報告則回傳
                                                    "reportType" : "PDF",  //報告型態，HTML或PDF
                                                    "reportPath" : "/EMRReport/{EMRReportID}",   //報告路徑
                                                    "encoding" : "utf-16",   //編碼 (utf-8 or utf-16，為utf-8時可不回傳) [string]
                                                    "baseURL" : "http://baseUrl.ntuh.gov.tw" //報告基礎連結(報告中如有相對連結時回傳)[string]
                                                }
                                            },
                                            ...
                                        ]
                                    },
                                    ...
                                ]
                            },
                            ...
                        ]
                    },
                    ...
                ],
                "limit" : 50, //最大回傳筆數傳[number] 
                "offset" : 0, //回傳資料偏移數[number]
                "total" : 100 //此次Query總筆數[number]
            },
            "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
            "endDate" : 1406938026 Query 結束日期，以時間序號表示 (包含此日期)
        }


# Group 其他 Other Web Service
## 9/24-通訊錄 [/contacts{?offset,limit}]
### 取得資料 [GET]

+ Parameters
    + offset = `0` (number, optional) ... 資料偏移數，需與 limit 一起傳入
    + limit (number, optional) ... 最大回傳筆數，需與 offset 一起傳入
    
+ Response 200 (application/json)

        {
            "content" : [
                {
                    "empNo" : "123456", //員工編號[string]
                    "empName" : "葉小菜",    //員工姓名[string]
                    "DEPT" : "內科部",  //單位[string]
                    "division" : "腸胃科",  //二級單位[string]
                    "title" : "主治醫師",   //職稱[string]
                    "TEL" : "71707",    //院內電話[string]
                    "mobile" : "0972111222",    //公務手機[string]
                    "mobileBriefCode" : "11222", //手機簡碼[string]
                    "EngFirstName" : "Hao-Tsai",    //英文首名[string]
                    "EngLastName" : "Yeh",  //英文姓[string]
                    "EngMiddleName" : "", //英文中名[string]
                    "email" : "xxx@ntuh.gov.tw", //email[string]
                    "remark" : ""   //備註[string]
                },
                ...
            ], 
            "limit" : 50, //最大回傳筆數[number] 
            "offset" : 0, //回傳資料偏移數[number]
            "total" : 100 //此次Query總筆數[number] 
        }


# 1/29 - 取得 iPad 容量管理規則 [/device/storage_limit]
## 取得iPad 容量警示參數[GET]

+ Response 200 (application/json)

        {
            "content" : {
                "size": 1024, //size in mb [number]
            }
        }

# 1/29 - 取得系統閒置自動登出管理規則 [/device/logout_limit]
## 取得系統閒置自動登出時間[GET]

+ Response 200 (application/json)

        {
            "content" : {
                "time": 3600, //time in seconds [number]
            }
        }

# 3/15 - 院內訊息通知系統 [/notifications/doctor/{empNo}/{?startDate,endDate,offset,limit}]
## 取得醫師所屬之通知訊息內容 [GET]
+ Parameters
    + offset (number, optional) ... 資料偏移數，需與 limit 一起傳入
    + limit  (number, optional) ... 最大回傳筆數，需與 offset 一起傳入
    + startDate (string, optional, `20150103`) ... Query 起始日期，以時間序號表示 (包含此日期)
    + endDate   (string, optional, `20150103`) ... Query 結束日期，以時間序號表示 (包含此日期)
    
+ Response 200 (application/json)
        
        {
            "content": {
                "notifications": [
                    {
                        "id":         "K123321", // The identifier for the notification [string]
                        "title":      "TITLE", // The title [string]
                        "message":    "this is the example notification.", // The message content of the notification.
                        "datetime":   1406938026, // The time when the notification was issues
                        "type":       "TEST_TYPE", // The type of the notification [string]
                        "confirmed":  false, // The flag indicated that the notification had been confirmed [boolean]
                    }, ... ],
                "limit": 50,  //最大回傳筆數[number] 
                "offset": 0,  //回傳資料偏移數[number]
                "total" : 100 //此次Query總筆數[number] 
                "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
                "endDate" : 1406938026 Query 結束日期，以時間序號表示 (包含此日期)
            }
        }

# 3/15 - 院內訊息通知系統 [/notification/{id}{?confirmed}]
## 取得通知訊息內容 [GET]
+ Response 200 (application/json)

        {
            "content": {
                "id":         "K123321", // The identifier for the notification [string]
                "title":      "TITLE", // The title [string]
                "message":    "this is the example notification.", // The message content of the notification.
                "datetime":   1406938026, // The time when the notification was issues
                "type":       "TEST_TYPE", // The type of the notification [string]
                "confirmed":  false, // The flag indicated that the notification had been confirmed [boolean]
            },
        }

## 確認通知訊息 [PUT]
+ Parameters
    + confirmed (boolean) ... 設定指定之通知訊息為確認(true)/未確認(false)

+ Response 200 (application/json)
        
        {
            "success": true,
        }
    
# 3/15 - 病患布告欄系統 [/bulletin/{chartNo}/board{?startDate,endDate,offset,limit,empNo,content}]
## 取得病患所對應之布告欄內容[GET]
+ Parameters
    + offset (number, optional) ... 資料偏移數，需與 limit 一起傳入
    + limit  (number, optional) ... 最大回傳筆數，需與 offset 一起傳入
    + startDate (string, optional, `20150103`) ... Query 起始日期，以時間序號表示 (包含此日期)
    + endDate   (string, optional, `20150113`) ... Query 結束日期，以時間序號表示 (包含此日期)

+ Response 200 (application/json)

        {
            "content": {
                "datetime": 1406938026, // the timestamp for the created time
                "messages": [
                    {
                        "empNo":      "111281",      // the id for the one created the message [string]
                        "datetime":   1406938026,    // the timestamp for the created time 
                        "message":    "hello world", // the message content [string]
                        "id":         "A12-40321",   // the identifier for the message [string]
                        "authorName": "Anna Sue",    // the name of the one created the message [string]
                        "editable":   false,         // the flag that indeicates weather the user could edit the message [boolean]
                    }, ...
                ],
                "limit": 50,  //最大回傳筆數[number] 
                "offset": 0,  //回傳資料偏移數[number]
                "total" : 100 //此次Query總筆數[number] 
                "startDate" : 1406938026, Query 起始日期，以時間序號表示 (包含此日期)
                "endDate" : 1406938026 Query 結束日期，以時間序號表示 (包含此日期)
            }
        }
        
## 新增訊息至病患所對應之布告欄[PUT]
+ Parameters
    + empNo (string) ... 使用者帳號
    + content (string) ... 訊息內容

+ Response 200 (application/json)

        {
            "success": true, 
        }

# 3/15 - 布告欄系統之訊息 [/bulletin/message/{id}]
## 取得布告欄某個訊息[GET]
+ Parameters
    + id (string) ... The identifier for the specified message.

+ Response 200 (application/json)

        {
            "content": {
                "datetime":    1406938026,
                "message":     "hello world",
                "empNo":       "111281",
                "id":          "A13-3321",
                "authorName":  "Anna Sue",
                "editable":    false,
            },
        }

## 刪除布告欄某個訊息[DELETE]
+ Response 200 (application/json)

        {
            "success": true,
        }

# Group 新增/修改醫令

## 3/25 - 可修改醫令清單 [/patients/{chartNo}/modifiableOrder{?empNo}]
### 取得可修改醫令清單 [GET]

+ Parameters
    + empNo (string)    ....員工編號
    
+ Response 200 (applicaiton/json)

        {
            "content" : [
                {   // 醫囑部份
                    "field" : [    //欄位資訊
                        {
                            "fieldCode" : "startDate",  //欄位代碼[string]
                            "displayName" : "開始時間", //欄位顯示名稱[string]
                            "dateFormat" : "yyyy-MM-dd"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                        },
                        {
                            "fieldCode" : "period",  //欄位代碼[string]
                            "displayName" : "期間", //欄位顯示名稱[string]
                        },
                        {
                            "fieldCode" : "category",  
                            "displayName" : "類別",
                        },
                        {
                            "fieldCode" : "drugName",  
                            "displayName" : "學名",
                            "textAlignment" : "left", //欄位內容對齊方式  //ex:"left"(向左對齊)、"center"(置中對齊)、"right"(向右對齊)[string,optional]
                        },
                        {
                            "fieldCode" : "itemName",  
                            "displayName" : "商品名",
                            "textAlignment" : "left", //欄位內容對齊方式  //ex:"left"(向左對齊)、"center"(置中對齊)、"right"(向右對齊)[string,optional]
                        },
                        {
                            "fieldCode" : "status",  
                            "displayName" : "狀態"
                        },
                        {
                            "fieldCode" : "_emp_doctor",
                            "displayName" : "輸入人員"
                        }
                    ],
                    "data" : [
                        {
                            "content" : {   //依據欄位填入資料，無資料則不回傳
                                "drugCode" : "v1234567",    // 藥品代碼 [string]
                                "orderID"  : "abcd1234",    // 此醫囑的ID [string]
                                "drugName" : "Valproatc sod., Valproic Acid",   // 學名 [string]
                                "itemName" : "Depakine Chrono 500 mg/tab",      // 商品名 [string]
                                "category" : "處方",        // [string]
                                "startDate" : 1406938026,   // [number, date]
                                "period" : "長",            // [string]
                                "_emp_doctor" : { 
                                    "empNo" : "23454353",
                                    "name" : "葉小菜"
                                },
                                "status" : "開立",          // [string]
                            },
                        },
                        ...
                    ],
                }, 
                {   // 診療醫令部份
                    "field" : [    //欄位資訊
                        {
                            "fieldCode" : "startDate",  //欄位代碼[string]
                            "displayName" : "開始時間", //欄位顯示名稱[string]
                            "dateFormat" : "yyyy-MM-dd"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                        },
                        {
                            "fieldCode" : "period",  //欄位代碼[string]
                            "displayName" : "期間", //欄位顯示名稱[string]
                        },
                        {
                            "fieldCode" : "category",  
                            "displayName" : "類別",
                        },
                        {
                            "fieldCode" : "order",  
                            "displayName" : "醫令名稱",
                            "textAlignment" : "left", //欄位內容對齊方式  //ex:"left"(向左對齊)、"center"(置中對齊)、"right"(向右對齊)[string,optional]
                        },
                        {
                            "fieldCode" : "status",  
                            "displayName" : "狀態"
                        }, 
                        {
                            "fieldCode" : "_emp_doctor",
                            "displayName" : "輸入人員"
                        },
                        ...
                    ],
                    "data" : [
                        {
                            "content" : {   //依據欄位填入資料，無資料則不回傳
                                "orderCode" : "zxc123",     // 醫令碼 [string]
                                "orderID" : "v1234567",     // 此醫囑的ID [string]
                                "order" : "Chest PA View (Standing)",
                                "category" : "檢查",
                                "startDate" : 1406938026,
                                "period" : "",
                                "_emp_doctor" : { 
                                    "empNo" : "23454353",
                                    "name" : "葉小菜"
                                },
                                "status" : "新增",
                            },
                        },
                        ...
                    ],
                },
            ] 
        }


## 3/24 - 醫令套餐 [/orderPackage]
### 取得醫令套餐清單 [GET]

+ Response 200 (application/json)

        {
            "content" : [
                {
                    "content" : {
                        "packageName" : "內科部",   // 顯示的title名  [string]
                        "packageCode" : "Medicine"  // 可以透過此代碼查詢藥品 [string, optional]
                    }, 
                    "children" : [  // 如果有sublist的話, 則顯示此key  [optional]
                        {
                            "content" : {
                                "packageName" : "骨髓移植 BMT",
                                "packageCode" : "BMT"
                            },
                            "children" : [
                                {
                                    "content" : {
                                        "packageName" : "Admission Orders",
                                        "packageCode" : "admissionorder"
                                    }
                                },
                                {
                                    "content" : {
                                        "packageName" : "Admission Lab",
                                        "packageCode" : "admissionlab"
                                    }
                                },
                                {
                                    "content" : {
                                        "packageName" : "Routine Lab",
                                        "packageCode" : "routinelab"
                                    }
                                },
                                {
                                    "content" : {
                                        "packageName" : "CPCR",
                                        "packageCode" : "cpcr"
                                    }
                                },
                                ...
                            ]
                        }
                    ]
                }
            ]
        }



## 3/23 - 藥物套餐 [/drugPackage]
### 取得藥物套餐清單 [GET]

+ Response 200 (application/json)

        {
            "content" : [
                {
                    "content" : {
                        "packageName" : "內科部",   // 顯示的title名  [string]
                        "packageCode" : "Medicine"  // 可以透過此代碼查詢藥品 [string, optional]
                    }, 
                    "children" : [  // 如果有sublist的話, 則顯示此key  [optional]
                        "content" : {
                            "packageName" : "骨髓移植 BMT",
                            "packageCode" : "BMT"
                        },
                        "children" : [
                            "content" : {}
                        ]
                    ]
                }
            ]
        }


## 3/20 - 藥物搜尋 [/drugSearch{?name,empNo,chartNo,packageCode}]
### 取得藥物清單 [GET]

+ Parameters
    + name (string, optional)   ...搜尋字串
    + empNo (string, optional)  ...員工套餐
    + chartNo (string, optional)    ...病人套餐
    + packageCode (string, optional)  ...套餐
    
+ Response 200 (application/json)

        {
            "content" : {
                "field" : [    //欄位資訊
                    {
                        "fieldCode" : "drugName",  //欄位代碼[string]
                        "displayName" : "學名", //欄位顯示名稱[string]
                        "textAlignment" : "left", 欄位內容對齊方式  //ex:"left"(向左對齊)、"center"(置中對齊)、"right"(向右對齊)[string,optional]
                    },
                    {
                        "fieldCode" : "itemName",  //欄位代碼[string]
                        "displayName" : "商品名", //欄位顯示名稱[string]
                    },
                    {
                        "fieldCode" : "dose",  
                        "displayName" : "常用劑量",
                    },
                    {
                        "fieldCode" : "frequency",  
                        "displayName" : "常用頻率",
                    },
                    {
                        "fieldCode" : "unit",  
                        "displayName" : "單位"
                    }
                ],
                "data" : [
                    {
                        "drugCode" : "v1234567",    // 藥品代碼 [string]
                        "content" : {   //依據欄位填入資料，無資料則不回傳
                            "drugName" : "Dextrose and Electrolyte Solution",
                            "itemName" : "Taita No. 1 500 ml/btl",
                            "dose: : "1",
                            "unit" : tab,
                            "frequency" : "TID",
                        },
                        
                    },
                    ...
                ],
            }, 
        }
        
        
## 3/26 - 醫令搜尋 [/orderSearch{?name,empNo,chartNo,packageCode}]
### 取得藥物清單 [GET]

+ Parameters
    + name (string, optional)   ...搜尋字串
    + empNo (string, optional)  ...員工套餐
    + chartNo (string, optional)    ...病人套餐
    + packageCode (string, optional)  ...套餐
    
+ Response 200 (application/json)

        {
            "content" : {
                "field" : [
                    {
                        "fieldCode" : "orderType",
                        "displayName" : "醫令類別"
                    }
                    {
                        "fieldCode" : "orderCode", 
                        "displayName" : "醫令碼",
                    },
                    {
                        "fieldCode" : "order",
                        "displayName" : "醫令內容"
                    },
                    ...
                ], 
                "data" : [
                    {
                        "content" : {
                            "orderCode" : "000L0114",
                            "orderType" : "治療",
                            "order"     : "◎複印全口顎Ｘ光照相"
                        }
                    },
                    {
                        "content" : {
                            "orderCode" : "000L0113",
                            "orderType" : "治療",
                            "order"     : "◎複印咬合片Ｘ光照相"
                        }
                    },
                    {
                        "content" : {
                            "orderCode" : "000L0112",
                            "orderType" : "治療",
                            "order"     : "◎複印根尖周Ｘ光照相"
                        }
                    } ,
                    ...
                ]
            }
        }


## 3/19 - 取得開立/修改醫囑需要資料 [/order{?drugCode,orderCode,orderID}]
### 醫囑通用格式 [GET]

+ Parameters
    + drugCode (string, optional)    ... 藥碼
    + orderCode (string, optional)    ... 醫令碼
    + orderID (string, optional)      ... 醫囑的ID

+ Response 200 (application/json)

        {
            "postURL":  "url/to/server"
            "postContent":[
                {
                    "title":"階段", // 欄位名稱 [string]
                    "key":"stage",  // 開立時需要post至server的key [string]
                    "required":"YES",   // 此欄位是否必要 [string]
                    "elements": [
                        {
                            "type":"option",    // element的格式  ex: label, textField, checkbox, switch, option, date, number [string]
                            "options": [    // 選項或是預設文字，如果沒有則不回傳
                                {
                                    "displayName" : "一般",
                                    "optionCode" : "general",
                                }, 
                                {
                                    "displayName" : "PAT",
                                    "optionCode" : "pat",
                                },
                                {    
                                    "displayName" : "術前",
                                    "optionCode" : "preopr",
                                }, ...
                            ], 
                            "default": "general",   // 預設值(如果是傳醫囑ID，則回傳醫囑裡設定的值)   [string, optional]
                        }, ...
                    ],
                    "relativeContent": {
                        "general": [
                            {
                                "title":"預計時間",
                                "key":  "estimatedTime", 
                                "required":"YES",
                            }, ...
                        ],
                    }
                }, {
                
                    "title" : "稀釋體積",
                    "key":  "dilutionVolume",
                    "required":"YES", 
                    "elements": [
                        {
                            "type": "option",
                            "options":  [
                                {
                                    "displayName" : "NS",
                                    "optionCode" : "NS",
                                }, ...
                            ], 
                            "default": "NS"
                        }, {
                            "type": "number",
                            "options": [
                            
                            ], 
                            "default": 100,
                        }, ...
                    ],
                    "relativeContent":{}
                }
            ]
        }



## 3/20 - 未確認醫令 [/patients/{charNo}/unconfirmOrder{?empNo}]
### 取得未確認醫令清單 [GET]

+ Parameters
    + empNo (string)    ...員工編號

+ Response 200 (application/json)

        {
            "content" : [
                {   // 醫囑部份
                    "field" : [    //欄位資訊
                        {
                            "fieldCode" : "startDate",  //欄位代碼[string]
                            "displayName" : "開始時間", //欄位顯示名稱[string]
                            "dateFormat" : "yyyy-MM-dd"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                        },
                        {
                            "fieldCode" : "period",  //欄位代碼[string]
                            "displayName" : "期間", //欄位顯示名稱[string]
                        },
                        {
                            "fieldCode" : "category",  
                            "displayName" : "類別",
                        },
                        {
                            "fieldCode" : "drugName",  
                            "displayName" : "學名",
                            "textAlignment" : "left", //欄位內容對齊方式  //ex:"left"(向左對齊)、"center"(置中對齊)、"right"(向右對齊)[string,optional]
                        },
                        {
                            "fieldCode" : "itemName",  
                            "displayName" : "商品名",
                            "textAlignment" : "left", //欄位內容對齊方式  //ex:"left"(向左對齊)、"center"(置中對齊)、"right"(向右對齊)[string,optional]
                        },
                        {
                            "fieldCode" : "status",  
                            "displayName" : "狀態"
                        },
                        {
                            "fieldCode" : "_emp_doctor",
                            "displayName" : "輸入人員"
                        }
                    ],
                    "data" : [
                        {
                            "content" : {   //依據欄位填入資料，無資料則不回傳
                                "orderID" : "v1234567",    // 醫囑ID [string]
                                "drugName" : "Valproatc sod., Valproic Acid",
                                "itemName" : "Depakine Chrono 500 mg/tab",
                                "category" : "處方",
                                "startDate" : 1406938026,
                                "period" : "長",
                                "_emp_doctor" : { 
                                    "empNo" : "23454353",
                                    "name" : "葉小菜"
                                },
                                "status" : "開立",
                            },
                        },
                        ...
                    ],
                }, 
                {   // 診療醫令部份
                    "field" : [    //欄位資訊
                        {
                            "fieldCode" : "startDate",  //欄位代碼[string]
                            "displayName" : "開始時間", //欄位顯示名稱[string]
                            "dateFormat" : "yyyy-MM-dd"   //若此欄位資訊為時間，則回傳顯示格式，非時間則不回傳[string]
                        },
                        {
                            "fieldCode" : "period",  //欄位代碼[string]
                            "displayName" : "期間", //欄位顯示名稱[string]
                        },
                        {
                            "fieldCode" : "category",  
                            "displayName" : "類別",
                        },
                        {
                            "fieldCode" : "order",  
                            "displayName" : "醫令名稱",
                            "textAlignment" : "left", //欄位內容對齊方式  //ex:"left"(向左對齊)、"center"(置中對齊)、"right"(向右對齊)[string,optional]
                        },
                        {
                            "fieldCode" : "status",  
                            "displayName" : "狀態"
                        }, 
                        {
                            "fieldCode" : "_emp_doctor",
                            "displayName" : "輸入人員"
                        },
                        ...
                    ],
                    "data" : [
                        {
                            "content" : {   //依據欄位填入資料，無資料則不回傳
                                "orderID" : "v1234567",    // 醫囑ID [string]
                                "order" : "Chest PA View (Standing)",
                                "category" : "檢查",
                                "startDate" : 1406938026,
                                "period" : "",
                                "_emp_doctor" : { 
                                    "empNo" : "23454353",
                                    "name" : "葉小菜"
                                },
                                "status" : "新增",
                            },
                        },
                        ...
                    ],
                },
            ] 
        }
        
        
## 3/20 - 確認醫令 [/patients/{charNo}/orderConfirm{?orderIDs,empNo}]
### 取得未確認醫令清單 [POST]

+ Parameters
    + orderIDs (string) ... 要確認的醫令ID 
    + empNo (string)    ... 確認醫囑員工

+ Response 200 (application/json)

        {
            "content": {
                "success":  true,
            }, 
        }
